name: Build QMK firmware
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli
    steps:
    - name: Disable git safe directory checks
      run : git config --global --add safe.directory '*'

    - name: Checkout QMK
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build firmware
      run: qmk compile -kb zsa/voyager -km sven

    - name: Archive firmware
      uses: actions/upload-artifact@v5
      with:
        name: zsa_voyager_sven
        path: |
          *.hex
          *.bin
          *.uf2
